{% load static %}

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">
          Home
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="{% url 'products' %}" class="nav-link px-2 text-body-secondary">
          Products
        </a>
      </li> -->
      <li class="nav-item">
        <a href="{% url 'contact' %}" class="nav-link px-2 text-body-secondary">
          Contact Us
        </a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">
      © 2026 Storefront. All rights reserved.
    </p>
  </footer>
</div>

<!-- JavaScript -->
<script src="{% static 'js/app.js' %}"></script>