<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}

    <body>
        {% include 'includes/navbar.html' %}

        {% include 'includes/jumbotron.html' %}

        <div class="container mt-5">
            <!-- Subtotal -->
            <div class="row">
                <div class="col text-end">
                    <h4>Subtotal: ${{ subtotal|floatformat:2 }}</h4>
                </div>
            </div>

            <!-- Tax -->
            <div class="row">
                <div class="col text-end">
                    <h4>Tax: ${{ tax|floatformat:2 }}</h4>
                </div>
            </div>

            <!-- Total -->
            <div class="row">
                <div class="col text-end">
                    <h4>Total: ${{ total|floatformat:2 }}</h4>
                </div>
            </div>

            <!-- Checkout -->
            <div class="row">
                <div class="col text-end">
                    <a href="#" class="btn btn-lg btn-danger">Empty Cart</a>
                    <a href="#" class="btn btn-lg btn-success">Checkout</a>
                </div>
            </div>

            <br>

            {% for item in items %}
            <div class="row ">
                <div class="col-md-2">
                    <img src="https://picsum.photos/id/26/200" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-start">
                                <h5 class="card-title">{{ item.product.name }}</h5>
                            </div>
                            <div class="col text-end">
                                <h3 class="card-text">${{ item.product.price|floatformat:2 }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-start">
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        {{ item.product.description }}
                                    </small>
                                </p>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-text">
                                    <button class="btn btn-sm btn-outline-danger">
                                        -
                                    </button>
                                    <div class="align-middle d-inline-block mx-2">
                                        {{ item.quantity }}
                                    </div>
                                    <button class="btn btn-sm btn-outline-success">
                                        +
                                    </button>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>

        {% include 'includes/footer.html' %}

</html>