{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}

    <body>
        {% include 'includes/navbar.html' %}

        {% include 'includes/jumbotron.html' %}

        <div class="container mt-5">
            <!-- Verify non-empty cart -->
            {% if not items %}
            <div class="row mb-5">
                <div class="col text-center">
                    <h3>Your cart is empty!</h3>
                    <p>Browse our products and add items to your cart.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Start Shopping</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <!-- Cart Items -->
                <div class="col-xl-8">
                    <div class="card mb-5">
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-start">Product</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>
                                        <!-- <th class="text-end">Total</th> -->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="cartTableBody">
                                    {% for item in items %}
                                    <tr>
                                        <td>
                                            <img src="https://picsum.photos/id/26/75" class="img-thumbnail" alt="...">
                                        </td>
                                        <td class="align-middle text-start">{{ item.product.name }}</td>
                                        <td class="align-middle text-center">${{ item.product.price|intcomma }}</td>
                                        <td class="align-middle text-center">
                                            <a href="#" class="btn btn-md btn-outline-secondary">-</a>
                                            <span class="px-3">{{ item.quantity }}</span>
                                            <a href="#" class="btn btn-md btn-outline-secondary">+</a>
                                        </td>
                                        <!-- <td class="text-end">${{ item.product.price|floatformat:2 }}</td> -->
                                        <td class="align-middle text-end">
                                            <!-- Hidden input for CSRF token -->
                                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                            <button type="button" class="btn btn-outline-danger" id="removeCartButton"
                                                data-product-id="{{ item.id }}">
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Summary -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summary</h5>
                            <hr>
                            <div class="card-text">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-end">
                                                <span id="subtotalValue">
                                                    ${{ subtotal|intcomma }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tax (10%)</td>
                                            <td class="text-end">
                                                <span id="taxValue">
                                                    ${{ tax|intcomma }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td class="text-end">
                                                <span id="totalValue">
                                                    ${{ total|intcomma }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="card-text text-end">
                                <!-- <a href="#" class="btn btn-md btn-danger">Empty Cart</a> -->
                                <a href="#" class="btn btn-md btn-success">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% include 'includes/footer.html' %}

</html>