{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}

    <body>
        {% include 'includes/navbar.html' %}

        {% include 'includes/jumbotron.html' %}

        <div class="container mt-5">
            <!-- Verify non-empty cart -->
            {% if not items %}
            <div class="row mb-5">
                <div class="col text-center">
                    <h3>Your cart is empty!</h3>
                    <p>Browse our products and add items to your cart.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Start Shopping</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <!-- Cart Items -->
                <div class="col-xl-8">
                    {% for item in items %}
                    <div class="row ">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://picsum.photos/id/26/300/200" class="img-fluid rounded-start"
                                        alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title">{{ item.product.name }}</h5>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="btn btn-sm btn-outline-danger float-end">Remove</a>
                                            </div>
                                        </div>
                                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                                        <p class="card-text">
                                            <small class="text-body-secondary">{{ item.product.description }}</small>
                                        </p>
                                        <p class="card-text">${{ item.product.price|floatformat:2 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
                <!-- Summary -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summary</h5>
                            <hr>
                            <div class="card-text">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-end">${{ subtotal|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax (10%)</td>
                                            <td class="text-end">${{ tax|intcomma }}</td>
                                        </tr>
                                        <tr class="">
                                            <td>Total</td>
                                            <td class="text-end">${{ total|intcomma }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="card-text text-end">
                                <!-- <a href="#" class="btn btn-md btn-danger">Empty Cart</a> -->
                                <a href="#" class="btn btn-md btn-success">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% include 'includes/footer.html' %}

</html>