<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}

    <body>
        {% include 'includes/navbar.html' %}

        {% include 'includes/jumbotron.html' %}

        <div class="container mt-5">
            <div class="row" id="itemsList">
                <!-- Verify non-empty products list -->
                {% if not products %}
                <div class="col text-center">
                    <h3>No products available!</h3>
                    <p>Check back later for new products.</p>
                </div>
                {% else %}
                {% for product in products %}
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/26/200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price|floatformat:2 }}</p>
                            <!-- <p class="card-text">{{ product.description }}</p> -->
                            <!-- Hidden input for CSRF token -->
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <button type="button" class="btn btn-outline-primary" id="addCartButton"
                                data-product-id="{{ product.id }}">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Toast -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Storefront</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Item added to cart!
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

</html>